websockets==10.1
fastapi~=0.115.12
twilio~=9.5.1
dotenv~=0.9.9
uvicorn~=0.34.0
pyaudio
certifi
python-multipart
openai~=1.69.0
google-cloud-firestore
firebase-admin~=6.7.0
firebase
langgraph~=0.3.21
python-dotenv~=1.1.0
langchain-core~=0.3.49
uagents